<div class="container-fluid mt-2">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="card-title">Directorio de usuarios</h3>
                    </div>
                    <div class="col-sm-12">
                        {{>success}}
                        {{>errors}}
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Nombres</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center">Cédula</th>
                        <th class="text-center">Correo</th>
                        <th class="text-center">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each usuarios}}
                    <tr>
                        <td class="text-center">{{Nombres}}</td>
                        <td class="text-center">{{Apellidos}}</td>
                        <td class="text-center">{{Cedula}}</td>
                        <td class="text-center">{{email}}</td>
                        <td class="text-center">
                            <a href="/editar-usuario/{{_id}}">Editar</a>
                        </td>
                        
                    </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
        </div>
    </section>
</div>