<div class="container-fluid mt-2">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="card-title">Directorio de resultados</h3>
                    </div>
                    <div class="col-sm-12">
                        {{>success}}
                        {{>errors}}
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Código</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Franquicia</th>
                        <th class="text-center">Paypal</th>
                        <th class="text-center">Ver informacion</th>
                        <th class="text-center">Cambiar estado</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resultados}}
                    <tr>
                        <td class="text-center">{{Fecha}}</td>
                        <td class="text-center">{{TimeStamp}}</td>
                        <td class="text-center">{{Estado}}</td>
                        <td class="text-center">{{Franquicia}}</td>
                        <td class="text-center">
                            <a href="" class="btn btn-primary btn-sm btnPaypal" data-id="{{_id}}">Ver</a>
                        </td>
                        <td class="text-center">
                            <a href="/ver-informacion-resultados/{{_id}}" class="btn btn-info btn-sm">Ver info</a>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="btn btn-success btn-sm btnCambiar" 
                            data-estado="{{Estado}}" data-id="{{_id}}">Cambiar</a>
                        </td>
                    {{/each}}
                </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<script src="/js/sweetalert2.min.js"></script>
<script src="/js/admin/directorio-resultados.js"></script>
